.audio-lists-btn {
  display: none !important;
}
.progress-bar {
  background-color: transparent !important;
}
.react-jinke-music-player-main .music-player-panel {
  background-color: #2e2d2d !important;
}
